*{
    /* background-color: #2423257b; */
}

body{
    margin-inline: 8px;
}

nav{
    margin-block: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 64px;

    img{
        width: 30%;
    }
}

.wallet_address{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;
}

.home_container{
    margin-right: 12px;
    padding-right: 12px;
    /* height: 80vh; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.reset{
    position: relative;
    transform: translate(40%);
}

.message{
    display: flex;
    align-items: center;
    border: 1px solid #FF4D4E;
    border-radius: 3px;
    background-color: #FFF1EF;
}

.info_container{
    border: 1px solid gray;
    border-radius: 8px;
    padding-right: 12px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}