.map-wrap {
    /* position: relative; */
    width: 101.5%;
    height: 70vh;
  }
  
  .map {
    /* position: absolute; */
    width: 100%;
    height: 100%;
  }

  .geocoding {
    display: flex;
    align-items: center;
    margin-block: 12px;
    /* gap: 140px; */
    justify-content: space-between;
  }